* {
  font-family: arial;
}

#container {
  color: black;
  display: block;
  background-color: #cccccc;
}

.image {
  width: 100%;
}

.imageLabel {
  text-align: center;
  background-color: rgba(100, 100, 100, 0.5);
  color: white;
  width: 100%;
}